<section class="main-content">

  <div *ngFor="let path of paths" (click)="onSelect(path)">
    <div [class.selected]="path === selection">{{path.pathName}} - {{path.pathShortDescription}} - {{path.pathLongDescription}} - {{path.pathActive}}</div>
</div>

</section>

<section class="side-menu">

  <button [routerLink]="['/dashboard/path/create']">Créer</button>
  <button [routerLink]="['/dashboard/path/update']" [disabled]="!hasSelection">Modifier</button>
  <button [routerLink]="['/dashboard/path/composition/read']" [disabled]="!hasSelection">Composition</button>

</section>
