<section class="main-content">

  <div *ngFor="let path of paths" (click)="onSelect(path)">
  {{path.pathName}} - {{path.pathShortDescription}} - {{path.pathLongDescription}} - {{path.pathActive}}
</div>

</section>

<section class="side-menu">

  <button [routerLink]="['/dashboard/path/create']">Créer</button>
  <button [routerLink]="['/dashboard/path/update']" [disabled]="!hasSelection">Modifier</button>
  <button [routerLink]="['/dashboard/path/composition']" [disabled]="!hasSelection">Composition</button>

</section>
