<h4>Ajouter des défis au parcours</h4>
Parcours {{path?.pathName}}

<section class="left-list">

  <div *ngFor="let task of tasksActive" (click)="onSelect(task)">
    {{task.taskName}}
  </div>

</section>

<section class="right-actions">

  <button (click)="onAdd()" [disabled]="conflict">Ajouter</button>
  <button (click)="onLeave()">Retour</button>

  <br>Position (facultatif) :
  <br>(comprise entre 1 et {{tasksFromPath.length + 1}})
  <input type="number" min="0" [(ngModel)]="position" [disabled]="selection.length > 1">

</section>
