
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$admin-trente-primary: mat-palette($mat-orange);
$admin-trente-accent: mat-palette($mat-lime);

// The warn palette is optional (defaults to red).
$admin-trente-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$admin-trente-theme: mat-light-theme($admin-trente-primary, $admin-trente-accent, $admin-trente-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($admin-trente-theme);

/* You can add global styles to this file, and also import other style files */


.selected {
  background: orange;
}

.italics {
  font-style: italic;
}

.inactive {
  color: dimgrey;
}

.labels {
  font-weight: bold;
  color: orangered;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button[mat-flat-button], button[mat-raised-button] {
  font-size: 16px;
  margin: 15px;
}

h3 {
  text-align: center;
  font-family: Georgia;
  font-size: 24px;
}

h4 {
  font-family: Georgia;
  font-size: 22px;
  font-style: italic;
  text-align: center;
}

h5 {
  font-family: Georgia;
  font-size: 18px;
  text-align: center;
}

.main-content {
  padding: 12px;
}

.side-menu {

}

.router-outlet {
  border: dimgrey 1px solid;
  margin: 10px;
}

.headline {
  border: 1px solid darkgrey;
  padding: 5px;
}

.split {
  flex-wrap: wrap;
}

.box {
  display: flex;
}

.left-list {
  width: 75%;
  float: left;
}

.right-actions {
  float: right;
  padding: 20px;
  text-align: left;
}

